{% extends 'orders/layout.html' %} {% block title %} home {% endblock title %}

{% block body %}

	<div class=row>
		<div class="col-12 m-3">{% include "orders/m_nav.html" %}</div>
	</div>
	
	<div class="row">
		<div class="col-sm">
			<form method="post" action="{% url 'additem' %}">
			{% csrf_token %}
			<h4>Dinner Platter</h4>
			<label class="mt-2" for="dp_size">size</label>
			<select class="form-control" id="dp_size" name="dp_size" onchange="dp_price_render()" required>	
				<option value="S">Small</option>
				<option value="L">Large</option>
			</select>

			<label class="mt-2" for="dp_name">name</label>
			<select class="form-control" id="dp_name" name="dp_name" onchange="dp_price_render()" required>	
				{% for dp in dinnerPlatter %}
					{% if dp.size != 'L' %}
						<option value="{{ dp.name }}">{{dp.name}}</option>
					{% endif %}
				{% endfor %}
			</select>

			<h4 class="mt-3" for="dp_price">price</h4>
			<h4 id="dp_price" name="dp_price"></h4>
			<input id="dp_price_hidden" name="dp_price_hidden" type="text" style="display:none"/>
			<button type="submit" id="dp_button" class="btn btn-primary mt-3" disabled>Add to your cart</button>
			</form>
		</div>		
	</div>
</div>

<script type="text/javascript">
	function dp_price_render() {
		document.querySelector("#dp_button").removeAttribute("disabled")
		const size = document.querySelector("#dp_size").value;	
		const name = document.querySelector("#dp_name").value;	

		{% for dp in dinnerPlatter %}	
			if( size === "{{ dp.size }}" && name === "{{ dp.name }}"){
				const ans = Number.parseFloat({{dp.price}}).toFixed(2)
				document.querySelector("#dp_price").innerText = ans;
				document.querySelector("#dp_price_hidden").value = ans;
			}
		{% endfor %}
	}
</script>

{% endblock body %}

