{% extends 'orders/layout.html' %} {% block title %} home {% endblock title %}

{% block body %} 


<div class="row">
	<div class="col-12">
		<h1>Menu</h1>
	</div>
</div>

<div class="row">
	<div class="col-3">
		<div class="card" style="width: 18rem;">  
		<div class="card-body">
			<h5 class="card-title">Pizza</h5>
			<a href={% url 'pizza' %} class="btn btn-primary">Go order</a>
		</div>
		</div>
	</div>

	<div class="col-3">
		<div class="card" style="width: 18rem;">  
		<div class="card-body">
			<h5 class="card-title">Sub</h5>
			<a href={% url 'sub' %} class="btn btn-primary">Go order</a>
		</div>
		</div>
	</div>

	<div class="col-3">
		<div class="card" style="width: 18rem;">  
		<div class="card-body">
			<h5 class="card-title">Dinner Platter</h5>
			<a href={% url 'dinnerplatter' %} class="btn btn-primary">Go order</a>
		</div>
		</div>
	</div>

	<div class="col-3">
		<div class="card" style="width: 18rem;">  
		<div class="card-body">
			<h5 class="card-title">Other Menu</h5>
			<a href={% url 'others' %} class="btn btn-primary">Go order</a>
		</div>
		</div>
	</div>
</div>


{% endblock body %}

